@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --green: #1ccc8f;
    --red: #ff0359;
    --orange: #ff7a00;
    --pink: #ff32ea;
  }
}

@layer text {
  .text-10 {
    @apply font-body text-xs;
  }
  .text-16 {
    @apply font-body text-sm text-black;
  }
  .text-18 {
    @apply font-body text-base text-black;
  }
  .lg {
    @apply font-body text-base_l text-black;
  }
  .text-40 {
    @apply font-body text-title text-black;
  }
  .text-100 {
    @apply font-body text-xl font-bold text-transparent;
  }
  .text-120 {
    @apply font-body text-xxl font-bold text-transparent;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .flex-around {
    @apply flex items-center justify-around;
  }
}

.container {
  @apply mx-auto box-content w-auto max-w-full px-4 md:px-8 xl:max-w-[1140px];
}

.text-stroke__gray {
  -webkit-text-stroke: 2px #adadad;
}

.text-stroke__black {
  -webkit-text-stroke: 2px #000000;
}
