@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --green: #1ccc8f;
    --red: #ff0359;
    --orange: #ff7a00;
    --pink: #ff32ea;
  }
}

.container {
  @apply mx-auto box-content w-auto max-w-full px-4 md:px-8 lg:max-w-[1140px];
}

.button {
  color: #fff;
  font-size: 20px;
  line-height: 1;
  height: 50px;
  padding: 12px 32px;
  background-color: #000;
  border: 1px solid #000;
  transition: 0.2s;
  cursor: pointer;
}

.button:hover,
.button:focus-visible {
  color: #000;
  background-color: #fff;
}

.link-hover {
  position: relative;
  white-space: nowrap;
  transition: 0.2s;
}

.link-hover::before {
  content: "";
  width: 0;
  height: 1px;
  background-color: currentColor;
  position: absolute;
  top: 100%;
  left: 50%;
  transition: inherit;
}

.link-hover:hover::before {
  width: 100%;
  left: 0;
}

.form-submit {
  color: #000;
  font-size: 16px;
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  transition: 0.2s;
  cursor: pointer;
}

.form-submit:hover,
.form-submit:focus-visible {
  color: #fff;
  background-color: #000;
}

.text-stroke-gray {
  -webkit-text-stroke: 2px #adadad;
}

.text-stroke-black {
  -webkit-text-stroke: 2px #000;
}
